 
$primary: #001731;
$secondary: #398BFF;
$secondaryHover: #23569e;
$storyText: #001731;
$grey: #F7F7F7;
$white: #FFFFFF;
$greyText: #6A6A6A;
$redText: #F04747;
$iconBack: #F6F7FB;
$iconBackHover: #A3C9FF;
$sectionBg: #031E3E;
$learnText: #aac0e0;
$reviewsBg:#F6F7FB;
$faqItemBorder: #E5E5E5;