.burger {
  display: none;
  cursor: pointer;
}


.burger__btn {
  display: none;
  flex-direction: column;
  position: fixed;
  cursor: pointer;
  z-index: 3;
  margin-top: 15px;
  @media (max-width: $breakpoint480) {
    left: 80vw;
  }
}

.line {
  margin: 5px;
  border-radius: 4px;
  width: 40px;
  height: 5px;
  color: #fff;
  background-color: #fff;
}


.menu-mobile {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 7vh;
  padding-top: 10px;
  background: $secondary;

  .menu__item-mobile {
    cursor: pointer;

    &:hover {
      background: $secondaryHover;
      transition: .8s hover ease;
      color: #ffffff;
    }
  }
}


@media (max-width: 780px) {
  .burger__btn {
    display: flex;
  }
}