@import './reset.scss';
@import './styles/_colors';
@import './styles/_media';


@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}

// @import './fonts/fonts.scss';

//Fonts
$fontMain: 'Gilroy', sans-serif;

// html, body{
//   height: 100%;
//   width: 100%;
//   overflow: hidden;
//   }


.container {
  max-width: ($containerWidth + $containerPadding) + px;
  //max-width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;
  font-family: $fontMain;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.btn {
  padding: 15px 22px;
  //padding: 8px, 22px, 8px, 22px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
  display: inline-block;
  color: $secondary;
}

.btn__primary {
  color: #ffffff;
  background-color: $secondary;
  border: 3px solid #2C82FD33;
  border-radius: 4px;

  //transition: all ease-in 0.5s;
  &:hover {
    background: $secondaryHover;
    transition: .3s hover ease;
  }
}

.btn__secondary {
  color: $secondary;
  border-radius: 4px;
  background: #072750;
  border: 3px solid #2C82FD33;

  &:hover {
    background: $secondaryHover;
    transition: .3s hover ease;
    color: #ffffff;
  }
}

.title {
  font-size: 42px;
  line-height: 46px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: $storyText;
}

.hidden{
  display: none !important;
}

.responsive__img {
  max-width: 800px;
  width: 100%;
  height: auto;
}

@import './styles/header/header.scss';
@import './styles/header/hamburger-nav.scss';
@import './styles/header/navbar.scss';
@import './styles/hero/hero.scss';
@import './styles/story/story.scss';
@import './styles/accordion/accordion.scss';
@import './styles/features/features.scss';